<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD87PT8-y04RhvwTFOG3YUuRasYWz__EHg</string>
	<key>GCM_SENDER_ID</key>
	<string>601133080075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ticTacToe</string>
	<key>PROJECT_ID</key>
	<string>tic-tac-toe-bloc</string>
	<key>STORAGE_BUCKET</key>
	<string>tic-tac-toe-bloc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:601133080075:ios:b2e659a208257a542df10e</string>
</dict>
</plist>